<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouveau message de <%= @user.first_name %> <%= @user.last_name %>!</p>

    <p>Email: <%= @user.email %></p>

    <p>
    Message:<br>
    </p>
    <p><%= @user.message %></p>
  </body>
</html>
